{% extends "complaint/complaint_base.html" %}

{% block complaint_content %}
<h1>{{ complaint.choice }}</h1>
<h1>{{ complaint.user.voter_details.cons_no }}</h1>
<h1>{{ complaint.user.voter_details.booth_no }}</h1>

{% if complaint.viewed_complaint == 1 %}
<h2>Status: Seen</h2>
{% else %}
<h2>Status: Unseen</h2>
{% endif %}

{% if user.is_authenticated and user.username in govname_list %}
<h1>{{ complaint.user.username }}</h1>
{% endif %}
<p>{{ complaint.created_at }}</p>
<p>{{ complaint.description }}</p>
{% if complaint.file_upload %}
<a href="{{ complaint.file_upload.url }}" target="_blank">View File</a>
{% endif %}
{% if complaint.file_upload1 %}
<a href="{{ complaint.file_upload1.url }}" target="_blank">View File</a>
{% endif %}
{% if complaint.file_upload2 %}
<a href="{{ complaint.file_upload2.url }}" target="_blank">View File</a>
{% endif %}
{% if complaint.file_upload3 %}
<a href="{{ complaint.file_upload3.url }}" target="_blank">View File</a>
{% endif %}
{% if complaint.file_upload4 %}
<a href="{{ complaint.file_upload4.url }}" target="_blank">View File</a>
{% endif %}
{% if complaint.file_upload5 %}
<a href="{{ complaint.file_upload5.url }}" target="_blank">View File</a>
{% endif %}

<h2>Comments</h2>

{% if user.is_authenticated and user.username in govname_list %}

<p><a href="{% url 'complaints:add_comment_to_complaint' pk=complaint.pk %}">Add Comment</a></p>

{% endif %}

{% for comment in complaint.comments.all %}
    <ul>
        <li>
            <p>{{ comment.text|safe|linebreaks }}</p>
            
        </li>
    </ul>
    {% empty %}
    <p>
        NO COMMENTS POSTED!!!
    </p>
{% endfor %}
{% endblock %}