{% extends "complaint/complaint_base.html" %}

{% block content %}
<h1> Stats for {{const}}</h1>
    
<h2>booth_capturing_num {{booth_capturing_num}} </h2> 
<h2> bogus_voting_num {{bogus_voting_num}}</h2>
<h2> liquor_distribution_num {{liquor_distribution_num}}</h2>
<h2> money_distribution_num {{money_distribution_num}}</h2>
<h2> over_campaigning_num {{over_campaigning_num}}</h2>
<h2> obstruction_voters_num {{obstruction_voters_num}}</h2>
<h2> armed_forces_num {{armed_forces_num}}</h2>
<h2> evm_malfunctioning_num {{evm_malfunctioning_num}}</h2>

{% endblock %}