<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>

</head>
<body>
    <a href="{%  url 'home' %}">Home</a>
    <a href="{% url 'complaints:display_all' %}">Display</a>
    <a href="{% url 'complaints:get_const_num' %}">View Const Specific</a>
    <a href="{% url 'complaints:get_type' %}">View Type Specific</a>
    {% if user.is_authenticated and user.username == 'government' %}
    <a href="{% url 'complaints:get_type_num' %}">View Special List</a>
    {% endif %}
    {% if user.is_authenticated %}
    {% block government %}
    
    {% endblock %}
    
        
        <a href="{% url 'accounts:logout' %}">Logout</a>

    {% else %}
        <a href="{% url 'accounts:login' %}">Login</a>
        
    {% endif %}
    {% block jquery %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script> -->

</body>
</html>